@{
    ViewData["Title"] = "About";
}

<div class="page-content">
    <h1>About Me</h1>
    <p>Hi! I am Cyrsgl Urbano, a student interested in frontend development and website design.</p>
    <p>This MVC application is created as part of Activity 4 in Applications Development and Emerging Technologies.</p>
</div>